<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /projects/shard-animation-video/
  RewriteRule index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /projects/shard-animation-video/index.html [L]
</IfModule>